<div id="newsP" class="index-banner parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text text-darken-3">News Feed</h1>
      <div class="row center">
        {{#each found}}
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{this.image}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>{{this.title}}</h5>
              <h6>{{this.source}}</h6>
              <div class="divider"></div>
              <p class="newsSnip">{{this.snip}}</p>
            </div>
            <div class="card-action">
              <a href="{{this.link}}">Full Article Here</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="parallax" id="newsBkg"><img src="./assets/images/proIntro.jpg" alt="Unsplashed background img 1"></div>
</div>



{{!-- Immunotherapy resource urls
  -- UNC Lineburger Home Page --
  https://unclineberger.org/immunotherapy --}}
